.vp-doc {
  :is(ol, ul) ul {
    list-style-type: circle;
  }

  :is(ol, ul) :is(ol, ul) ul {
    list-style-type: square;
  }

  :is(ol, ul) ol {
    list-style-type: lower-roman;
  }

  :is(ol, ul) :is(ol, ul) ol {
    list-style-type: lower-alpha;
  }
}

/* .vp-doc {
  img {
    max-height: 60vh;
    object-fit: contain ;
  }
} */
